.titleFont{
    float: left;
    color: #30b7e8;
    display: inline-block;
    width: 129px;
    position: relative;
    left: -0.05em;
    vertical-align: -0.1em;
    line-height: 1;
    font-size: 64px;
    font-weight: 400;
    content: counter(article,decimal-leading-zero);
}
.explanation{
    font-weight: 600;
    line-height: 2;
}
.mtagBackColor{
    background-color: black;
    color: white;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 450px) {
    .titleFont{
        float: left;
        color: #30b7e8;
        display: inline-block;
        width: 119px;
        position: relative;
        left: -0.05em;
        vertical-align: -0.1em;
        line-height: 1;
        font-size: 64px;
        font-weight: 400;
        content: counter(article,decimal-leading-zero);
    }
}